.App {
  text-align: center;
  margin: 3%;
}

.table {
  margin: auto;
  margin-bottom: 5rem;
}

.input-form-user {
  margin-bottom: 1rem;
}

.input-form-expense {
  margin-bottom: 1rem;
}

table, th, td {
  border: 1px solid black;
}

